
*{
    box-sizing:border-box;
  }
  html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size:20px;
    height:100vh;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
  }
  body {
    margin: 0;
    padding:0;
    background: linear-gradient(white,pink);
  }
  header{
    text-align:center;
    margin-bottom:90px;
  }
  ul{
    list-style:none;
  }
  .sectionContainer{
    display:flex;
    flex-direction:row;
    padding :0 10vh 0 10vh;
  }
  select{
    font-size:1.1 rem;
  }
  img{
    height:200px;
    max-width:900px;
    max-height:700px;
  }
  .column{
    flex:1;
  }
  span{
    font-weight:bold;
    text-decoration:underline;
    font-size:1.3rem;
  }
  #dogName{
    font-size:2rem;
    text-decoration:none;
  }
  #leftColumn{
    text-align:center;
  }
  select{
    border-radius:.35em;
    width:15em;
    height:1.5em;

  }
  img{
    border-radius:.55em;

  }